torch
torchvision
timm
Pillow
opencv-python-headless
numpy
joblib
xgboost
pandas
PyWavelets
scipy
scikit-image
scikit-learn
streamlit
fastapi==0.104.1
uvicorn[standard]==0.24.0
python-multipart==0.0.6
altair==4.2.2
streamlit==1.32.2
standard-imghdr
